body {
	margin: 0;
	padding: 0;
}

.map {
	position: absolute;
}

svg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

img {
	
	height: 100%;
	width: 100%;
}

.part {
	opacity: 0;
}

.part:hover {
	transition: opacity .2s ease;
	opacity: .5;
	cursor: pointer;
}

.part_2 {
	opacity: 0;
}

.part_2:hover {
	transition: opacity .2s ease;
	opacity: 1;
	cursor: pointer;
}